<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite" parallel="tests" thread-count="1">
    <test verbose="2" preserve-order="true"
          name="SauceDemo">
        <classes>
            <class name="org.ceiling.controller.SauceDemoController">
                <methods>
                    <include name="testSauceDemo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>