<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Suite" parallel="tests" thread-count="1">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ljl/IdeaProjects/JavaWebUIFrame/src/main/java/org/ceiling/controller/SauceDemoController.java">
        <parameter name="productCount" value="2"/>
        <parameter name="selectionMethod" value="sequential"/>
        <parameter name="firstname" value="John"/>
        <parameter name="lastname" value="Doe"/>
        <parameter name="postcode" value="12345"/>
        <classes>
            <class name="org.ceiling.controller.SauceDemoController">
                <methods>
                    <include name="testSauceDemo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>